@model AWork.Contracts.Dto.Purchasing.PurchaseOrderDetailsDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PurchaseOrderDetail</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceivedQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceivedQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RejectedQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RejectedQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockedQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockedQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrder.PurchaseOrderId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
