@model AWork.Domain.Models.CurrencyRate

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CurrencyRate</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyRateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrencyRateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AverageRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AverageRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndOfDayRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndOfDayRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FromCurrencyCodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FromCurrencyCodeNavigation.CurrencyCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToCurrencyCodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToCurrencyCodeNavigation.CurrencyCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CurrencyRateId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
