@model IEnumerable<AWork.Domain.Models.CurrencyRate>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyRateDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndOfDayRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromCurrencyCodeNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToCurrencyCodeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyRateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AverageRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndOfDayRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromCurrencyCodeNavigation.CurrencyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToCurrencyCodeNavigation.CurrencyCode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CurrencyRateId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CurrencyRateId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CurrencyRateId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
