@model AWork.Contracts.Dto.Purchasing.VendorDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vendor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreferredVendorStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreferredVendorStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchasingWebServiceUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchasingWebServiceUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessEntity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessEntity.BusinessEntityId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BusinessEntityId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
