@model IEnumerable<AWork.Contracts.Dto.Production.WorkOrderDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockedQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScrappedQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScrapReason)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockedQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScrappedQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScrapReason.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkOrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkOrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkOrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
