@model IEnumerable<AWork.Contracts.Dto.Purchasing.PurchaseOrderHeaderDto>

@{
	ViewData["Title"] = "Index";
	ViewBag.title = "cool";
}

<!-- Bordered Table -->
<div class="card">
	<div class="card-header">
		<h2 class="text-center mb-3 text-primary">List Purchase Orders</h2>
		<a class="btn btn-primary text-end mb-3" asp-action="Create"><span class="tf-icons bx bx-book-add"></span>&nbsp; Create New</a>
	</div>
	<div class="card-body">
		<div class="table-responsive text-nowrap">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>
							@Html.DisplayNameFor(model => model.Status)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Vendor)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.OrderDate)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.ShipDate)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.SubTotal)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.TaxAmt)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.Freight)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.TotalDue)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.EmployeeId)
						</th>
						<th>
							@Html.DisplayNameFor(model => model.RevisionNumber)
						</th>
						@*<th>
						@Html.DisplayNameFor(model => model.ShipMethod)
						</th>*@
						<th>Action</th>

					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@*@Html.DisplayFor(modelItem => item.Status)*@
								@if(item.Status == 1) {
									<span class="badge bg-label-warning me-1">Pending</span>
								} else if (item.Status == 2){
									<span class="badge bg-label-primary me-1">Approve</span>
								} else if (item.Status == 3){
									<span class="badge bg-label-danger me-1">Reject</span>
								} else {
									<span class="badge bg-label-success me-1">Complete</span>
								}
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Vendor.Name)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.OrderDate)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.ShipDate)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.SubTotal)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.TaxAmt)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Freight)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.TotalDue)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Employee)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.RevisionNumber)
							</td>
							@*<td>
						@Html.DisplayFor(modelItem => item.ShipMethod.Name)
						</td>*@
							@*<span class="badge bg-label-primary me-1">Active</span>*@
							<td>
								<div class="dropdown">
									<button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="bx bx-dots-vertical-rounded"></i></button>
									<div class="dropdown-menu">
										<a class="dropdown-item" asp-action="Edit" asp-route-id="@item.PurchaseOrderId"><i class="bx bx-edit-alt me-1"></i>Edit</a>
										<a class="dropdown-item" asp-action="Details" asp-route-id="@item.PurchaseOrderId"><i class="bx bx-trash me-1"></i>Details</a>
										<a class="dropdown-item" asp-action="Delete" asp-route-id="@item.PurchaseOrderId"><i class="bx bx-trash me-1"></i>Delete</a>
									</div>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
<!--/ Bordered Table -->