@model AWork.Contracts.Dto.Production.ProductProductPhotoDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProductProductPhoto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Primary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Primary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductId)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPhotoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPhoto.ProductPhotoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductPhoto.LargePhotoFileName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
