@model AWork.Contracts.Dto.Production.BillOfMaterialDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BillOfMaterial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bomlevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bomlevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerAssemblyQty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerAssemblyQty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Component)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Component.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductAssembly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductAssembly.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitMeasureCodeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitMeasureCodeNavigation.UnitMeasureCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BillOfMaterialsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
