@model IEnumerable<AWork.Contracts.Dto.Sales.SalesOfferProduct.SpecialOfferProductDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Special Offer Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rowguid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.SpecialOffer)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rowguid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.SpecialOffer.Category)
            </td>*@
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@

            <td>
                <a asp-action="Edit" asp-route-id="@item.SpecialOfferId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SpecialOfferId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SpecialOfferId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
