@model AWork.Contracts.Dto.Sales.SalesOrderHeader.SalesOrderHeaderDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SalesOrderHeader</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RevisionNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RevisionNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnlineOrderFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnlineOrderFlag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesOrderNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesOrderNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrderNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrderNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditCardApprovalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditCardApprovalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxAmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxAmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Freight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Freight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalDue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rowguid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rowguid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillToAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillToAddress.AddressLine1)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditCard.CardNumber)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrencyRate.FromCurrencyCode)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.AccountNumber)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalesPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalesPerson.BusinessEntityId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipMethod.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShipToAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShipToAddress.AddressLine1)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Territory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Territory.CountryRegionCode)
        </dd class>*@
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SalesOrderId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
